/* Утилиты */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --white-text-color: #ffffff;
  --transparent-white-color: rgba(255, 255, 255, 0.6);
  --primary-font-color: #ffffff;
  --secondary-font-color: #2f303a;
  --section-font-color: #f5f4fa;
  --logo-dark-color: #000000;
  --logo-accent-color: #2196f3;
  --accent-color: #2196f3;
  --hero-button-hover: #188ce8;
  --button-bcg-color: #f5f4fa;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  outline: 2px solid tomato;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-font-color);
  font-family: Roboto, sans-serif;
}

/* Хедер */

.header-list .header-link.current {
  color: var(--accent-color);
}

.address {
  font-style: normal;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-dark-color);
}

.logo-accent {
  color: var(--logo-accent-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-mail,
.header-tel {
  color: var(--primary-text-color);
}

.contacts-item a:hover,
.contacts-item a:focus {
  color: var(--accent-color);
}

/* Герой */
.hero {
  background-color: var(--secondary-font-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-bottom: 30px;
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border-color: transparent;
  border-radius: 4px;
  padding: 10px 32px;
  display: inline-block;
  min-width: 216px;
  text-align: center;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hero-button-hover);
}

/* Особливості */
.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Чим ми займаємося */
.description {
  padding-bottom: 94px;
  background-color: tomato;
}
.description-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 50px;
}

/* Наша команда */
.team {
  background-color: var(--section-font-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-item {
  background-color: var(--primary-font-color);
}

.team-img {
  margin-bottom: 30px;
}

.team-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 50px;
}

.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* Фільтри */
.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--button-bcg-color);
  cursor: pointer;
  border-color: transparent;
  border-radius: 4px;
  padding: 6px 22px;
}

.filter-btn.first {
  padding: 6px 25px;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
}

/* Проекти */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.project-item {
  border: 1px solid #EEEEEE;
}

.project-img {
margin-bottom: 20px;
}

.project-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.project-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 20px;
  display: inline-block;
}

/* Підвал */
.footer {
  background-color: var(--secondary-font-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  display: inline-block;
  margin-bottom: 20px;
}

.map {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  display: inline-block;
  margin-bottom: 9px;
}

.footer-mail {
  margin-bottom: 9px;
}

.footer-mail,
.footer-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: inline-block;
  color: var(--transparent-white-color);
}

.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus,
.map:hover,
.map:focus {
  color: var(--accent-color);
}
